@model List<ComputerMaker.Models.Processor>
<div id="processor">
    <h2>Processors:</h2>
    <select onchange="onChange()">
        <option value="0" >nonSelect</option>
        @foreach (var m in Model)
        {
            if (ViewBag.computer.ProcessorId == m.Id)
            {
                <option selected value="@m.Id">@m.Name</option>
            }
            else
            {
                <option value="@m.Id">@m.Name</option>
            }
        }
    </select>
</div>