<script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
@{
    ViewBag.Title = "MakerPost";
}
<h3>@ViewBag.JSONMotherboards</h3>

<h2>MakerPost</h2>
<script type="text/javascript">
    $(document).ready(function () {
        var json = @ViewBag.JSONMotherboards;
        var str = JSON.parse(json);
        alert(str);
    });
</script>

